html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.Main {
  background: url('../images/banner.png') no-repeat #282b38;
  background-size: contain;
  margin: 0 auto;
}
.Main-panel {
  box-sizing: border-box;
  display: table;
  padding: 0 4em;
  width: 100%;
  .Main-heading {
    color: #242424;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .Main-sub-heading {
    color: #333333;
    font-size: 22px;
    text-align: center;
  }
  .Room-panel {
    color: white;
    display: table;
    float: left;
    margin: 133px 5.8% 80px;
    text-align: center;
    &:hover .Img-tag{
      animation: swing 1s 1 ease;
    }
    .status-text {
      margin: 1em 0;
    }
    .Img-tag {
      height: 50px;
      margin-top: -20px;
      position: relative;
    }
  }
  .Room {
    box-sizing: border-box;
    position: relative;
    a {
      color: white;
      display: inline-block;
      padding: 2em 0;
    }
    .status-text {
      color: white;
    }
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.soundWave {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid red;
  opacity: 0;
  animation: soundwave 2s infinite;
}

@keyframes soundwave {
  0% {
    border-width: 1px;
    height: 0em;
    width: 0em;
    opacity: 1;
  }
  30% {
    border-width: 4px;
    height: 15em;
    width: 15em;
    opacity: 0.2;
  }
  100% {
    border-width: 1px;
    height: 15em;
    width: 15em;
    opacity: 0;
  }
}
