$fontName: 'iot';
$fontPath: './../../fonts';

$fallbackSRC: url("#{$fontPath}/#{$fontName}.eot");
$src:
  url("#{$fontPath}/#{$fontName}.eot?#iefix") format('embedded-opentype'),
  url("#{$fontPath}/#{$fontName}.woff") format('woff'),
  url("#{$fontPath}/#{$fontName}.ttf") format('truetype'),
  url("#{$fontPath}/#{$fontName}.svg?##{$fontName}") format('svg')
;

@font-face {
  font-family: $fontName;
  src:  $fallbackSRC;
  src:  $src;
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  cursor: pointer;
  font-family: "iot";
  font-style: normal;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-available:before {
  color: green;
  content: "\e900";
  display: block;
  font-size: 150px;
  margin: 0.4em 0;
}
.icon-humidity:before {
  content: "\e901";
}
.icon-hybris:before {
  color: white;
  content: "\e902";
  display: inline-block;
  font-size: 24px;
}
.icon-magento:before {
  color: white;
  content: "\e903";
  display: inline-block;
  font-size: 24px;
}
.icon-meeting:before {
  color: red;
  content: "\e904";
  display: block;
  font-size: 150px;
  margin: 0.4em 0;
}
.icon-microsoft:before {
  color: white;
  content: "\e905";
  display: inline-block;
  font-size: 24px;
}
.icon-temprature:before {
  content: "\e906";
}
.icon-zinios{
  font-size: 50px;
  background: white;
  &:before {
    content: "\e907";
  }
}
